{% extends "base_generic.html" %}

{% load staticfiles %}


{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock custom_css %}
    

{% block title %}
<title>Workspace | Synthetica</title>
{% endblock title %}

{% block windowname %}
<h3 class="muli text-white">Workspace</h3>
{% endblock windowname %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col">
            <div class="form-group">
                {{ form.project_name.label_tag }}
                {{ form.project_name }}
            </div>
            <div class="form-group">
                {{ form.records.label_tag }}
                {{ form.records }}
            </div>            
        </div>
        <div class="col">
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            {{ generate.management_form }}

            {% for form in generate.forms %}
            {% if forloop.first %}
            <br/><thead class="muli">
                <tr>
                    {% for field in form.visible_fields %}
                    <th scope="col">{{ field.label|capfirst }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% endif %}
            <tr class="{% cycle row1 row2 %} formset_row">
                {% for field in form.visible_fields %}
                <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <input type="submit" class="float-right text-white btn btn-lg muli" value="Generate" /> 
</form>

{% endblock %}

{% block formsetjs %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock formsetjs %}   