@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lato:300|Muli&display=swap');

html, body {
    overflow-x: hidden;
    background-image: url("../images/synthetica_background-min.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
}


/* FONTS */
.lato {
    font-family: 'Lato', sans-serif;
}

.muli {
    font-family: 'Muli', sans-serif;
}

.julius {
    font-family: 'Julius Sans One', sans-serif;
}
/* END OF FONTS */


/* COLOURS */
/* .purple-text {
    color: #330066 !important;
}

.purple-back {
    background-color: #330066;
} */
/* END OF COLOURS */


div:first-child {
    min-height: 100vh;
    min-width: 100vw;
}

div img {
    width: auto;
    height: 180px;
    margin-bottom: 2em;
    -webkit-filter: drop-shadow(3px 2px 5px #000);
    filter: drop-shadow(3px 2px 5px #000);
}

div h1 {
    font-size: 4.2em;
    text-shadow: 4px 2px 5px #000000;
    margin-bottom: 1em;
}

div hr {
    border-top: 10px solid white;
}


/*MEDIA QUERIES*/
/* Larger than normal laptop sizes */
@media screen and (min-width: 1600px) {


}

@media only screen and (max-width: 1024px) and (min-width: 993px) {

   

}

/* COL M stops here */
@media only screen and (max-width: 992px) and (min-width: 959px) {



}

/* All Mobile Sizes (devices and browser) */
@media only screen and (min-width: 768px) and (max-width: 958px) {



}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px) {



}

/* Mobile Portrait Size iphone 5 */
@media only screen and (max-width: 319px) {
  

    
}
/*END OF MEDIA QUERIES*/
